 #home {
    background: url('https://media.timeout.com/images/100519023/image.jpg') !important;
    color: darkgoldenrod;
}

#menu {
    color: darkolivegreen;
}
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}

#signup, #login {
  margin-top: 10px;
}


header {
    background-color: darkgrey;
}
#new {
    color: black;
}
