 #all {
    background: url('https://media.timeout.com/images/100519023/image.jpg') !important;
    color: darkgoldenrod;
}

#menu.li {
    color: black;
}
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}

#signup, #login {
  margin-top: 10px;
}

#new {
    color: black;
}
section {
  padding: 1em; 
} 
#favorites div {
  background-color: lightgray;
}
#signout {
  margin-top: 10px;
}
.linknav {
  color: darkgoldenrod;
}

