/*#all {
    background-image: url('https://media.timeout.com/images/100519023/image.jpg') !important;
    color: darkgoldenrod;
}*/

nav {
  position: fixed;
  top: 0px;
  background-color: rgba(192, 192, 192, .8);
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: .5em;
  width: 100%;
  color: white;
}

table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

table tr:nth-child(odd) {
  background-color: #f1f1f1;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}

#signup, #login {
  margin-top: 10px;
}

#new {
    color: black;
}

section {
  padding: 1em; 
} 

#favorites div {
  background-color: lightgray;
}
#signout {
  margin-top: 10px;
}

.linknav {
  color: lightslategray;
}

.timing, #selectOpen {
  text-align: center;
}

.timing {
  font-size: 1.5em;
  font-weight: 500;
}


#dealFormat {
  color: black;
  padding-top: 8px;
}

#timeOptions {
  background-color: #A5A5AF;
  padding: 0;
}

#header-content {
  margin-top: 35px;
  text-align: left;
}
body {
  font-family: 'Raleway', sans-serif;
}

#clock {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

#buttonGroup {
  text-align: center;
}

#selectHead {
  text-transform: uppercase;
  color: white;
  font-size: 1.5em;
}

#selectOpen {
  background-color:#6C648B;
}

#pickNow, #pickLater {
  margin-top: .75em;
  margin-bottom: .75em;
  background-color: #6BBAA7; 
  border-left: none;
  border-top: none;
  border-bottom: none;
}

#pickLater {
  border-right: none;
}

#pickNow {
  border-right: 15px; 
}

#findHappy {
  background-color: #FBA100;
  border:none;
}

#currentList .col-lg-6 {
  background-color: #B6A19E; 
}

@media (min-width: 500px) {
  #selectHead {
    font-size: 2.3em;
  }
}


@media (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
}

@media (min-width: 1400px) {
  .container{
    max-width: 1400px;
  }
}

@media (min-width: 1800px) {
  .container{
    max-width: 1800px;
  }
}