<main>
    <div class="container-fluid">
        <h2>Add New Happy Hours :D</h2>
        
        <form ng-if="!userId"> <!--ng-if="!userId"-->
            <a ui-sref = "signUp">You need to sign in first.</a>
        </form>

        <form name= "addDetail" ng-if="userId"> <!--ng-if="signedIn"-->
            <div class="from-group">
                <label for="name">Restaurant name:</label>
                <input type="text" name="name" id= "name" ng-model="name" required>
            </div>
            
            <div class="from-group">
                <label for="resId">Restaurant ID:</label>
                <input type="resId" name="resId" id= "resId" ng-model="resId" required>
            </div>

            <div class="from-group">
                <label for="time">Happy Hours:</label>
                <input type="text" placeholder = "Seperate with commas" name="time" id= "time" ng-model="time" required>
            </div>

            <div class="from-group">
                <label for="description">Description:</label>
                <input type="text" name="description" id= "description" ng-model="description" required>
            </div>

            <button type="submit" class="btn btn-primary" ng-disabled="addDetail.$invalid" ng-click="newDeal(id, name, time, description)">Add the Deal</button>
        </form>


    </div>
</main>
