<main>
    <div class="container-fluid">
        <h2>Add New Happy Hours :D</h2>
        
        <form ng-if="!userId"> <!--ng-if="!userId"-->
            <a ui-sref = "signUp">You need to sign in first.</a>
        </form>

        <form name= "addDetail" ng-if="userId"> <!--ng-if="signedIn"-->
            <div class="from-group">
                <label for="name">Restaurant name:</label>
                <input type="text" name="name" id= "name" ng-model="name" required>
            </div>
            <br>
            
            <div class="from-group">
                <label for="time">Happy Hours:</label>
                <input type="text" name="time" id= "time" ng-model="time" required>
                <p id="dealFormat">write in the format of day(Monday-Sunday) |start time(0-23) |end time(0-23), seperate different happy hours with comma</p>
            </div>
            <br>
            <div class="from-group">
                <label for="description">Description:</label>
                <input type="text" name="description" id= "description" ng-model="description">
            </div>
            <br>
            <div class="from-group">
                <label for="website">Website:</label>
                <input type="url" name="website" id= "website" ng-model="website" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" ng-disabled="addDetail.$invalid" ng-click="newDeal(name, time, description, website)">Add the Deal</button>
        </form>


    </div>
</main>
