<main class="container">

    <h1>{{targetDeal.restaurantId}}</h1>

    <section>
        <form name="commentForm">
            <div class="from-group">
                <label for="feedback">Please provide us your feedback:</label>
                <input type="text" name="comment" ng-model="comment" required>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="orderForm.$invalid" ng-click="submitComment()">Submit</button>
        </form>
    </section>

    <section>
        <table class="table">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Date</th>
                <th scope="col">Feedback</th>
            </tr>
            <tr scope="row" ng-repeat="order in cart track by $index">
                <td></td>
                <td ng-click=''></td>
                <td></td>
            </tr>
        </table>
    </section>

</main>