<div id="home">
<h1>Looking for Happy Hour?</h1>
<h6>We got you <i class="fa fa-beer" aria-hidden="true"></i></h6>

<h3>What we offer?</h3>
<ul>
    <li>Happy hour finder</li>
    <li>Update our info (Tell us we are wrong!)</li>
    <li>Our favorites</li>
    <li>Reviews!</li>
</ul>

<table class="table">
		<tr>
			<th ng-click="sortBy(name)" scope="col">Name</th>
			<th ng-click="sortBy('website')">Website</th>
		</tr>
		<tr ng-repeat="rest in rests | orderBy: ordering | filter:searchTerm">
			<td >{{rest.name}}</td>
			<td>{{rest.website}}</td>
	</table>
</div>