<div id="home" class="container-fluid">
<h1>Happy hours now?</h1>
<h6>We got you covered <i class="fa fa-beer" aria-hidden="true"></i></h6>

<h3>What we offer?</h3>
<ul>
    <li>Happy hour finder</li>
    <li>Update our info (Tell us we are wrong!)</li>
    <li>Our favorites</li>
    <li>Reviews!</li>
</ul>
<h4>New user?<h4>
	<a id="new" ui-sref="signUp">Signup here!</a>
<h2>Where's the beer?</h2>
<form role="form" class="form-inline">
    <button type="button"><i class="fa fa-search" aria-label="Search"></i></button>
    <input type="text" name="search" id="searchTerm" placeholder="Search our locations!" ng-model="searchTerm">
  </form>
<table class="table">
		<tr>
			<th ng-click="sortBy(name)" scope="col">Name</th>
			<th ng-click="sortBy(website)">Website</th>
		</tr>
		<tr ng-repeat="rest in rests | orderBy: ordering | filter:searchTerm">
			<td ui-sref="locator( {'rest':rest.name} )">{{rest.name}}</td>
			<td>{{rest.website}}</td>
	</table>
</div>