<!-- 
<main>
    <div class="container-fluid">
        <h1>{{targetDeal.restaurantId}}</h1>


       
        <section>
            <form name="commentForm">
                <div class="from-group">
                    <label for="feedback">Please provide us your feedback:</label>
                    <input type="text" name="comment" ng-model="comment" required>
                </div>
                <button type="submit" class="btn btn-primary" ng-disabled="orderForm.$invalid" ng-click="submitComment()">Submit</button>
            </form>
        </section>

        <section>
            <table class="table">
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col" ng-click="sort('date')">Date</th>
                    <th scope="col">Feedback</th>
                </tr>
                <tr scope="row" ng-repeat="opinion in commentList track by $index | orderBy: ordering">
                    <td>{{opinion.username}}</td>
                    <td>{{opinion.date}}</td>
                    <td>{{opinion.comment}}</td>
                </tr>
            </table>
        </section>
    </div>
</main> 
-->

<main ng-controller="TimeCtrl">
    <h1>When is happy hour?</h1>
    <h2><button type="button" class="btn btn-primary" ng-click="dataNow()">NOW</button></h2>
</main>