 <main class='container-fluid'>
     <form>
        <h4>Log In</h4>
        <div>
            <label>Email: <label>
        </div>
        <input type='email' placeholder='Email Address'></input>
        
        <div>
            <label>Password: <label>
        </div>
        <input type='text' placeholder='Password'></input>
        <div>
            <button id='login' type='button'>Log In!</button>
        </div>
    </form>

     <form class='signform'>
         <h4>Sign Up</h4>
        <div>
            <label>Username: <label>
        </div>
        <input type='text' placeholder='Username'></input>
    
        <div>
            <label>Email: <label>
        </div>
        <input type='email' placeholder='Email Address'></input>
        
        <div>
            <label>Password: <label>
        </div>
        <input type='text' placeholder='Password'></input>
        
        <div>
            <label>Confirm Password: <label>
        </div>
        <input type='text' placeholder='Password'></input>
        
        <div>
            <button id='signup' type='button'>Sign Up!</button>
        </div>
    </form>
</main>

